.loginContainer {
  background: white;
  width: 20em;
  height: auto;
  position: relative;
  margin: auto;
  padding: 2em;
  border-radius: 1em;
  color: black;
  border: 1px solid black;
  margin-top: 60px;
  margin-bottom: 23rem;
}

.login-title {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 0.7em;
  color: black;
  text-align: center;
}

.login-form {
  text-align: left;
  text-align: center;

  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.login-form_imput {
  margin-bottom: 20px;
}

.error-message {
  color: rgb(245, 95, 95);
  text-align: center;
  border: solid 1px rgb(10, 9, 9);
  border-radius: 3px;
  margin-bottom: 7px;
}
/* .custom-row {
  --bs-gutter-x: 0rem;
} */

.form__button{
  border-radius: 4px;
  margin-top: 3px;
}