.title-footer{
  color: black;
}

.background{
  background-color: rgb(231, 231, 231);
}

/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem; 
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .0)!important;
  padding-left: calc(var(--bs-gutter-x) * .0)!important;
} */